title: Your awesome title #  !!! nome del sito !!! PERSONALIZZARE !!!
email: your-email@example.com #  email ufficiale di contatto !!! PERSONALIZZARE !!!
description: >- # descrizione del sito  !!! PERSONALIZZARE !!!
  Sito ufficiale di questa associazione.
baseurl: "/"  #  !!! non toccare !!!
url: "https://so.dipartimento.polo18f.it" # URL del sito (cambiare)

# Build settings
theme: minima #  !!! non toccare !!!
plugins: #  !!! non toccare !!!
  - jekyll-feed #  !!! non toccare !!! 

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
